@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?4xsx3k');
  src:  url('fonts/icomoon.eot?4xsx3k#iefix') format('embedded-opentype'),
    url('../icons/icomoon.ttf?4xsx3k') format('truetype'),
    url('../icons/icomoon.woff?4xsx3k') format('woff'),
    url('../icons/icomoon.svg?4xsx3k#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  display: inline-block;
  vertical-align: middle;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-icon-business-bag:before {
  content: "\e900";
}
.icon-icon-email-solid:before {
  content: "\e901";
}
.icon-icon-location-pin:before {
  content: "\e902";
}
.icon-icon-time-solid:before {
  content: "\e903";
}
.icon-icon-language:before {
  content: "\e904";
}
.icon-icon-skype:before {
  content: "\e905";
}
.icon-icon-calendar:before {
  content: "\e906";
}
.icon-icon-envelope:before {
  content: "\e907";
}
.icon-icon-location:before {
  content: "\e908";
}
.icon-icon-phone:before {
  content: "\e909";
}
.icon-icon-like:before {
  content: "\e90a";
}
.icon-icon-download:before {
  content: "\e90b";
}
.icon-icon-send:before {
  content: "\e90c";
}
.icon-icon-like-fill:before {
  content: "\e90d";
}
.icon-icon-reply:before {
  content: "\e90e";
}
.icon-icon-at:before {
  content: "\e90f";
}
.icon-icon-user:before {
  content: "\e910";
}
.icon-chevron-right:before {
  content: "\e911";
}
.icon-chevron-left:before {
  content: "\e912";
}
.icon-chevron-down:before {
  content: "\e913";
}
.icon-chevron-up:before {
  content: "\e914";
}
.icon-check:before {
  content: "\e915";
}
.icon-smile:before {
  content: "\e9e1";
}
.icon-arrow-up2:before {
  content: "\ea3a";
}
.icon-arrow-right2:before {
  content: "\ea3c";
}
.icon-arrow-down2:before {
  content: "\ea3e";
}
.icon-arrow-left2:before {
  content: "\ea40";
}
.icon-google:before {
  content: "\ea88";
}
.icon-google-plus:before {
  content: "\ea8b";
}
.icon-facebook:before {
  content: "\ea90";
}
.icon-instagram:before {
  content: "\ea92";
}
.icon-twitter:before {
  content: "\ea96";
}
.icon-youtube:before {
  content: "\ea9d";
}
.icon-twitch:before {
  content: "\ea9f";
}
.icon-dribbble:before {
  content: "\eaa7";
}
.icon-behance:before {
  content: "\eaa8";
}
.icon-github:before {
  content: "\eab0";
}
.icon-appleinc:before {
  content: "\eabe";
}
.icon-linkedin2:before {
  content: "\eaca";
}
.icon-pinterest:before {
  content: "\ead1";
}
